#root {
  max-width: 1920px;

}
.content{
  width: 90%;
  margin: auto;
}
.gridImg{
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
  margin-block: 7rem;
}
.card{
  width: 30rem;
  height: 25rem;
  
}
.img1{
  background-image: url(./assets/img/cards1.jpg);
  background-size: cover;
}
.img2{
  background-image: url(./assets/img/cards2.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}
.img3{
  background-image: url(./assets/img/cards3.jpg);
  background-size: cover;
}
.img4{
  background-image: url(./assets/img/cards3.jpg);
  background-size: cover;
  width: 47rem;
  height: 25rem;
}
.img5{
  background-image: url(./assets/img/cards3.jpg);
  background-size: cover;
  width: 47rem;
  height: 25rem;
}
.social{
  background-color: rgb(165, 165, 165);
  padding-block:3.2rem ;
}
.boxSocial{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.boxSocial img{
  width: 2.3rem;
  height: 2.3rem;
}
@media (min-width:945px) and (max-width:1112px){
  .card{
    width: 25rem;
    height: 20rem;
  }
}
@media (min-width:400px) and (max-width:944px){
  .gridImg{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card{
    width: 35rem;
    height: 25rem;
  }
}


