.websiteContent{
    display: flex;
    justify-content: center;
}
.box{
    display: flex;
    width: 95%;
    justify-content: center;
}
.box div{
    width: 50%;
    padding-inline: 7rem;
}
.box p,li{
    color: rgb(197, 197, 197);
}
.box h1{
    margin-bottom: 2rem;
}
.box p{
    margin-bottom: 2rem;
}
.contentLeft{
    text-align: right;
    border: 1px solid;
    border-color: transparent black transparent transparent;
}
.contentRight{
    text-align: left;
}
@media (min-width:429px) and (max-width:944px){
    .box{
        display: flex;
        flex-direction: column;
        width: 95%;
        justify-content: center;
    }
    .contentLeft{
        border: none;
    }
    .contentRight{
        margin-left: 40%;
        margin-block: 3rem;
    }
}
@media (min-width:320px) and (max-width:428px){
    .websiteContent{
        justify-content: left;
    }
    .box{
        display: flex;
        flex-direction: column;
    }
    .box div{
        width: 80%;
        padding: 2.5rem;
        
    }
    .contentLeft{
        text-align: left;
        border: none;
    }
    .contentRight{
        text-align: left;
        margin-left: 0;
    }
    .box div{
        padding-inline: 3rem;
    }
    .contentRight{
      margin-block: 0rem;
    }
    .contentLeft{
        margin-top: -3rem;
    }
}